/* Couleurs */
$color-primary: #E0E2DB;
$color-secondary: #6E817D;
$color-tertiary: #5F7470;
$color-footer: #644536;

$color-green: #19F201;
$color-blue:#0162C1;
$color-purple: #A335EE;
$color-orange: #E2700D;
$color-gold: #CEA200;

/* Ombres */
$shadow-cards: 0px 4px 15px rgba(0, 0, 0, 0.1);
$shadow-btn: 0px 4px 10px rgba(0, 0, 0, 0.25);
$shadow-btn-hover: 0px 4px 10px rgba(0, 0, 0, 0.5);

/* Tailles de police */
$size-txt: 16px;
$size-nom : 28px;
$size-nom-desktop : 40px;
$size-subtitle: 24px;
$size-title: 30px;

/* Epaisseur de polices */
$w-txt: 400;
$w-subtitle: 500;
$w-title: 700;

/* Polices */
$font-txt: 'Dosis', sans-serif;
$font-title: 'Monoton', cursive;